#one{
    width: 320px;
    height: 213px;
    margin: 30px;
    margin-left: 220px;
    border: 10px solid white;
}
#two{
    width: 320px;
    height: 213px;
    margin: 30px;
    border: 10px solid white;
}
#three{
    width: 320px;
    height: 213px;
    margin: 30px;
    border: 10px solid white;
}


/* hover effect */
#one:hover {
    border: 10px solid red;
}
#two:hover {
    border: 10px solid hotpink;
}
#three:hover {
    border: 10px solid burlywood;
}

/* enlarge picture */
.enlargePic{
    display: none;
}

.close{
    display: none;
}

.left{
    display: none;
}

.right{
    display: none;
}